body {background-color: #4F6D93; background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93); background-repeat: no-repeat; color: #666666; font-family: arial, sans-serif;}

header {background-color: #000033; color: #FFFFFF; background-image: url(images/sunset.jpg); background-position: right; background-repeat: no-repeat; height: 60px; text-align: center; padding-top: 10px; text-indent: 1em;}

nav {font-weight: bold; padding: 20px; float: left; width: 160px;}

nav a {text-decoration: none;}

nav ul {list-style-type: none; padding-left: 0px; font-size: 1.2em;}

a:link {color: #000033;}

a:visited {color: #344879;}

a:hover {color: #ffffff;}

h2 {color: #3399CC; font-family: Georgia, 'Times New Roman', serif; text-shadow: 1px 1px 1px #CCCCCC;}

h3 {font-family: Georgia, 'Times New Roman', serif;}

dt {color: #000033;}

.resort {color: #5C7FA3; font-weight: bold;}

h1 {margin-bottom: 0;  font-family: Georgia, 'Times New Roman', serif; margin-top: 0px;}

main ul {list-style-image: url(images/marker.gif);}

footer {font-size: 75%; font-style: italic; text-align: center; font-family: Georgia, 'Times New Roman', serif; padding: 20px 20px;}

.contact {font-size: 90%;}

.wrapper {margin-left: auto; margin-right: auto; width: 80%; background-color: #90C7E3; min-width: 960px; max-width: 2048px; box-shadow: 3px 0px 0px #333333;}

main {padding-top: 1px; padding-right: 20px; padding-bottom: 20px; padding-left: 30px; display: block; background-color: #ffffff; margin-left: 190px;}

.homehero {height: 300px; background-image: url(images/coasthero.jpg); background-size: 100% 100%; background-repeat: no-repeat; margin-left: 190px;}

.yurthero {height: 300px; background-image: url(images/yurthero.jpg); background-size: 100% 100%; background-repeat: no-repeat; margin-left: 190px;}

.trailhero {height: 300px; background-image: url(images/trailhero.jpg); background-size: 100% 100%; background-repeat: no-repeat; margin-left: 190px;}

footer {font-size: 75%; font-style: italic; text-align: center; font-family: Georgia, "Times New Roman", sans-serif; padding: 20px; margin-left: 190px; background-color: #ffffff;}