header, main, nav, footer, figure, figcaption, aside, section, article {display: block;}

body {background-color: #4F6D93; background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93); background-repeat: no-repeat; color: #666666; font-family: arial, sans-serif;}

header {background-color: #000033; color: #FFFFFF; background-image: url(images/sunset.jpg); background-position: right; background-repeat: no-repeat; height: 60px; text-align: center; padding-top: 10px;}

nav {font-weight: bold; padding: 20px; float: left; width: 160px;}

nav a {text-decoration: none;transition: color 3s ease-out;}

nav ul {list-style-type: none; padding-left: 0px; font-size: 1.2em; margin: 0;}

nav a:link {color: #000033;}

nav a:visited {color: #344879;}

nav a:hover {color: #ffffff;}

h2 {color: #3399cc; font-family: Georgia, 'Times New Roman', serif; text-shadow: 1px 1px 1px #CCCCCC;}

h3 {font-family: Georgia, 'Times New Roman', serif; color: #000033;}

.resort {color: #5c7fa3; font-weight: bold;}

h1 {font-family: Georgia, 'Times New Roman', serif; margin-top: 0px;}

main ul {list-style-image: url(images/marker.gif);}

table {border: 1px solid #3399CC; width: 80%; border-spacing: 0;}

td, th {padding: 5px; border: 1px solid #3399CC;}

td {text-align: center;}

.text {text-align: left;}

tr:nth-of-type(odd) {background-color: #F5FAFC;}

footer {font-size: 75%; font-style: italic; text-align: center; font-family: Georgia, 'Times New Roman', serif; padding: 20px; margin-left: 190px;clear: both;}

label {float: left; display: block; text-align: right; width: 120px; padding-right: 10px;}

input, textarea {display: block; margin-bottom: 20px;}

input[type="submit"] {margin-left: 130px;}

#contact {font-size: 90%;}

#wrapper {margin-left: auto; margin-right: auto; width: 80%; background-color: #90C7E3; min-width: 960px; max-width: 2048px; box-shadow: 3px 3px 3px #333333;}

main {padding: 1px 20px 20px 30px; display: block; background-color: #ffffff; margin-left: 190px;}

#homehero {height: 300px; background-image: url(images/coasthero.jpg); background-size: 100% 100%; background-repeat: no-repeat; margin-left: 190px;}

#yurthero {height: 300px; background-image: url(images/yurthero.jpg); background-size: 100% 100%; background-repeat: no-repeat; margin-left: 190px;}

#trailhero {height: 300px; background-image: url(images/trailhero.jpg); background-size: 100% 100%; background-repeat: no-repeat; margin-left: 190px;}

footer {font-size: 75%; font-style: italic; text-align: center; font-family: Georgia, "Times New Roman", sans-serif; padding: 20px; margin-left: 190px; background-color: #ffffff;}

#mobile {display: none;}4

#desktop { display: inline;}

#gallery {position: relative; height: 200px;}

figure {position: absolute; left: 280px;}

#gallery ul {width: 300px; list-style-type: none;}

#gallery li {display: inline; float: left; padding: 10px;}

#gallery img {border-style: none;}

#gallery a {text-decoration: none; font-style: italic; color: #000000;}

#gallery span {position: absolute; left: -1000px; opacity: 0;}

#gallery a:hover span {position: absolute; top: 16px; left: 320px; text-align: left; opacity: 1;}

.text {text-align: left;}

table {border: 1px solid #3399CC; width: 80%; border-spacing: 0;}

td, th {padding: 5px; border: 1px solid #3399CC;}

td {text-align: center;}

tr:nth-of-type(odd) {background-color: #F5FAFC;}

video {width: 100%; height: auto; max-width: 320px;}

video, embed {float: right; padding-left: 20px;}

@media only screen and (max-width: 64em) {body {background-color: #FFFFFF; margin: 0;}

    #wrapper {min-width: 0; width: auto; box-shadow: none;}

    main {margin-left: 0;}
    
    nav {float: none; width: auto; text-align: center; padding: 0.5em;}
    
    nav li {display: inline; padding: 0.25em 0.75em;}
    
    #homehero, #yurthero, #trailhero {margin: 0; height: 200px;}
    
    footer {margin: 0;}
}

@media only screen and (max-width: 37.5em) {header {padding-top: 1em;}
    
    main {padding: 0.1em 1em; font-size: 90%;}
    
    h1 {font-size: 1.5em;}
    
    nav {padding: 0;}
    
    nav li {display: block; margin: 0; border-bottom: 2px solid #330000;}
    
    nav a {display: block;}
    
    label {float: none; text-align: left;}
    
    input[type="sumbit"] {margin-left: 0;}
    
    #homehero, #yurthero, #trailhero {background-image: none; height: 0;}
    
    #mobile {display: inline;}
    
    #desktop {display: none;}
    
    #gallery {display: none;}
}